ZHIPU_API_KEY=
DEMO_CONTROL_TOKEN=
VOICE_SAVE_RECORDINGS=0
VOICE_DEBUG_TRANSCRIPTS=0
VOICE_DEVICE=plughw:CARD=Device,DEV=0
VOICE_MIXER_CARD=Device
VOICE_MIC_GAIN=100%
VOICE_AGC=on
TEMP_ALERT_ENABLED=1
TEMP_ALERT_WINDOW_SECONDS=60
TEMP_ALERT_DELTA_C=1.0
TEMP_ALERT_COOLDOWN_SECONDS=300
TEMP_ALERT_REARM_DELTA_C=0.5
